body {
  font-family: lato, Helvetica, Arial;
  padding: 0px;
  margin: 0px;
  height:100%;

}

html {
  height:100%;
}




.social-media a {
  display: inline-block;
  padding-top: 0px;
  line-height: 20px;
}

.social-media {
    padding-left: 40px;

}

.fa {
  padding-left: 10px;
  color: black;
}

a {
  text-decoration: none;
  display: block;
  line-height: 60px;
  color: black;
}


#left-section {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 1px solid #e2e2e2;
  min-height: 650px;

}

nav {
  padding-top: 230px;
  padding-left:65px;

}

.nav {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding:20px;
    padding-left: 5px;
    width: 50px;
}

main {
  position:absolute;
  bottom: 0;
  left: 200px;
  right: 0px;
  top: 0px;
}

.item {
  height: 800px;
}

p {
  background-color: white;
  width: 650px;
  font-size: 22px;
  line-height: 32px;
  font-weight: 300;
  padding-left: 10px;
  margin-top: 0px;
  z-index: 100;
  position: relative;
}

.intro {
  padding-left: 20%;
  padding-top: 100px;
}

.background-img {
/*   float: right;*/
/*   right: 0px;*/
   bottom: 0px;
   z-index: 2;
   overflow: hidden;
}

.background-img img {
  right: -245px;
  position: absolute;
  bottom: 0px;
}

.background-img-part2 {
   float: left;
   right: 0px;
   bottom: 0px;
   z-index: 2;
   overflow: hidden;
}

.background-img-part2 img {
  margin-left: -948px;
  position: absolute;
  bottom: 0px;
}

.container {
  padding: 0px;
  width: 100%;
}


.contact {
  width: 600px;
  height: 600px;
  background-color: grey;
}

.about {
  width: 1000px;
  height: 1000px;
  background-color: red;
}

/*bootstrap changes*/

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

.carousel-indicators .active {
  height: 0px;
  background-color: none;
}

.carousel-indicators li {
  height: 0px;
  margin: 0px;
  text-indent: 0px;
  border: none;
}

.carousel-indicators {
  position: inherit;
/*  margin-left: 0px;*/
}




/*.navbar-wrapper {1px solid purple;}
.carousel {border: 1px solid black;}
.carousel-caption {border: 1px solid yellow;}
.carousel .item {border: 1px solid blue;}
.carousel-inner > .item > img {border: 1px solid red;}
*/





.slide-nav {
  background-color: red;
  height: 200px;
   -webkit-transition: all 1s ease;
   overflow: hidden;

}
.width {
  max-width: 200px;
  height: 50px;
  background: blue;
}
.big-blue {
  &.width {
    max-width: 0;
  }
}

.big-blue {
  -webkit-transition: width 0.3s ease-in;
            -moz-transition: width 0.3s ease-in;
            -o-transition: width 0.3s ease-in;
            -ms-transition: width 0.3s ease-in;
            transition: width 0.3s ease-in;

}