<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

         <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    </head>
    <body>

      <div class="one">
        <div class="slider-content">
          <ul class="menu-links">
            <a href=""><li>Artwork</li></a>
            <a href=""><li>Webdesign</li></a>
            <a href=""><li>Email Templates</li></a>
            <a href=""><li>Other</li></a>
          </ul>
        </div>
      </div>

      <div class="two">
        <div class="container">
          <section class="menu" role="navigation">
            <div class="hamburger" id="activate" data-toggle="slider" data-target="#slider-js">
              <img src="/images/images/ham.png" alt="menu">
            </div>

            <ul class="navbar">
              <a href="">
                <li>MY RESUME</li>
              </a>
               <a href="">
                <li>CONTACT ME</li>
              </a>
            </ul>
          </section>

          <div class="content">
            <h1>KAITLIN RATHWELL</h1>
            <h2>Digital Artist | Webdesigner | Webdeveloper</h2>

            <p>
              I am an passionate designer/artist looking to bring <strong>creativity</strong> and  <strong>uniqueness</strong> to the world of web.
            </p>
            <p class="status">
              *I am currently available for freelance work
            </p>

            <ul class="media cf">
              <a href=""><li><i class="fa fa-github"></i></li></a>
              <a href=""><li><i class="fa fa-twitter"></i></li></a>
              <a href=""><li><i class="fa fa-google-plus"></i></li></a>
            </ul>
          </div>
        </div>
      </div>



      <script src="//code.jquery.com/jquery-1.9.1.js"></script>
      <script src="/js/main.js"></script>
    </body>
</html>
